[tool.poetry]
name = "jsoncf"
version = "0.0.4"
description = "prettify json data from clipboard"
authors = ["idlewith <newellzhou@163.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
pyperclip = "^1.8.2"


[tool.poetry.group.dev.dependencies]
black = "^22.8.0"
isort = "^5.10.1"
pytest = "^7.1.3"
mkdocs = "^1.3.1"
mkdocs-material = "^8.4.2"
flake8 = "3.6.0"
mkdocstrings-python = "^0.7.1"
mkdocstrings = "^0.19.0"
tox = "^3.25.1"
mypy = "^0.971"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.mypy]
allow_redefinition = false
check_untyped_defs = true
ignore_errors = false
ignore_missing_imports = true
implicit_reexport = false
local_partial_types = true
strict_optional = true
strict_equality = true
no_implicit_optional = true
warn_unused_ignores = true
warn_unreachable = true
warn_no_return = true

[tool.poetry.scripts]
jsoncf = "jsoncf.main:prettify"